proto5/.venv/
main/__pycache__/cameraControls.cpython-311.pyc
main/__pycache__/frameWorks.cpython-311.pyc
main/__pycache__/mediaBorusuTahminci.cpython-311.pyc
firebase.json

fromRpi/images.db
fromRpi/pyarmor_runtime_000000/__init__.py
fromRpi/pyarmor_runtime_000000/pyarmor_runtime.so
fromRpi/pyarmor_runtime_000000/__pycache__/__init__.cpython-311.pyc
fromRpi/myenc
